.flicking-pagination {
  bottom: 0;
  display: flex;
  justify-content: start;
  margin-left: 24px;
}

.flicking-pagination-bullet {
  width: 9;
  height: 9px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: width 0.3s ease;
}

.flicking-pagination-bullet-active {
  width: 36px;
  height: 9px;
  border-radius: 3px;
  background: var(--accent-color);
  transition: width 0.3s ease;
}
